<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">One Single Wine Chosen</h5>
  
          <p>
            <strong>ID</strong>: {{horse.id}}</p>
          <p>
          <p>
            <strong>Wine Name</strong>: {{horse.wine}}</p>
          <p>
            <strong>Actual Inventory:</strong> {{horse.actualInventory}}</p>
          <p>
            <strong>Shadow Inventory:</strong> {{horse.shadowInventory}}</p>
          <p>
          <strong>Box Type</strong> {{horse.boxType}}</p>
                    <p>
          <strong>Updated At:</strong> {{horse.updatedAt}}</p>

 

            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
